<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${h1Title}"></h1>
<table>
    <thead>
        <th>nom</th>
        <th>prenom</th>
        <th>emprunts</th>
    </thead>
    <tbody>
        <th:block th:each="emprunteur, stat : ${emprunteurs}">
            <tr>
                <td th:text="${emprunteur.getNom()}"></td>
                <td th:text="${emprunteur.getPrenom()}"></td>
                <td th:text="${emprunteur.getEmprunts()}"></td>
            </tr>
        </th:block>
    </tbody>
</table>

</body>
</html>